{% extends 'base_layout.html' %} {% block content %}

{% load static %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
      
    <div class="containers"">
      <div class="image">
        {% load static %}
          <img src="{% static 'images/login.jpg'%}" alt="your-image.jpg" style="height: 25rem;">
      </div>
      <div class="form">
        <h1 class="title">Student log in </h1>
        <form action="" method="POST">
          {% csrf_token %}


            <input type="text" name="username1" placeholder="📧 Username" required/>

            <input type="password" name="password1"  placeholder="🔑 Password" required/>


        
         
          <input  class="submit-button" type="submit" value="LOG IN" > 

          <button type="button" class="submit-button"><a href="{% url 'login:homepage' %}">Homepage</a> </button>
  
        </form>
      </div>
    </div> 

          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>    
         
          {% if messages %}
          {% for message in messages %}
         <script>
         swal("{{ message }}");
          </script>
         {% endfor %}
        {% endif %}

      {% endblock %}