{% extends 'base_layout.html' %} {% block content %} {% load static %}
<p
  class="display-4 text-primary"
  style="border-bottom: 1px solid rgb(205, 231, 241)"
>
  {{ sub.0.subject_name}}
</p>

<div class="fs-5 text-info">
  Exam Name:&nbsp;&nbsp;<span class="fst-italic">{{xm.0.exam_name}}</span>
  &nbsp; <br />
  Set Number:<span class="fst-italic"> {{ set.0.set_number }}</span> <br />
</div>
<br />
<form
  class="form-control"
  name="exam"
  method="POST"
  action="{% url 'login:create_ques' subject_id=subject_id exam_id=exam_id set_id=set_id %}"
>
  {% csrf_token %}
  <!-- for question in ques -->
  <label class="py-1" for="ques1">Enter Ques 1</label>
  <textarea class="form-control" id="ques1" name="ques1" rows="1"></textarea>

  <label class="py-1" for="ans1">Enter answer for Ques 1</label>
  <textarea class="form-control" id="ans1" name="ans1" rows="3"></textarea>
  <label class="py-1" for="ques2">Enter Ques 2</label>
  <textarea class="form-control" id="ques2" name="ques2" rows="1"></textarea>

  <label class="py-1" for="ans2">Enter answer for Ques 2</label>
  <textarea class="form-control" id="ans2" name="ans2" rows="3"></textarea>

  <!-- comment % Increment the counter variable 'i' % endcomment % -->
  <!-- with forloop.counter as i  -->

  <!-- endwith  -->

  <!-- endfor  -->
  <button
    type="submit"
    class="btn btn-outline-primary btn-lg mt-5 float-sm-end"
    id="save-btn"
  >
    Submit
  </button>
  <br />

  {%endblock%}
</form>
